<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
<!--	<property name="driverClassName">
	<value>oracle.jdbc.driver.OracleDriver</value>
	</property>
	<property name="url">
	<value>jdbc:oracle:thin:@localhost:1521:XE</value>
	</property>
	<property name="username">
	<value>system</value>
	</property>
	<property name="password">
	<value>123456</value>
	</property> -->
		
	     <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
     <property name="url" 
           value="jdbc:mysql://127.0.0.1:3306/test?useSSL=false&amp;serverTimezone=UTC"> 
       </property> 
        <property name="username" value="root"></property> 
        <property name="password" value="123456"></property>
	</bean>
	
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
	<property name="dataSource" ref="dataSource" />
	<property name="configLocation" value="/WEB-INF/SqlMapConfig.xml" />
	</bean>
	
	
		
</beans>
